body{
    margin: 0;
    position: relative;
    height: 100vh;
}
/*CURRENT*/
nav, footer{
    background: #333;
    padding-top: .5%;
    padding-bottom: .5%;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
nav ul, footer ul{
    padding: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
}
footer ul li{
    display: inline;
    margin-right: 5%;
}
nav ul li a{
    color: white;
    padding: 5%;
}
nav ul li a:active{
    background: white;
    color: black;
}
footer ul li a{
    color: white;
}
/*MAIN*/
.container{
  padding-left: 7%;
  padding-right: 7%;
}
/*OTHER*/
ul.posts li{ 
    margin: 20px auto 40px; 
    list-style: none;
}
/*UNIVERSAL*/
h1{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: #999;
}
a:hover{
    text-decoration: underline;
}
p{
  line-height: 1.4em;
  color: #333;
}
