<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="myselfrebel">
      
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <h1>MyselfRebel</h1>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/blog">Blogs</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div>
    <footer>
      <ul>
	<li><a href="mailto:deepak.2004.verma@gmail.com">email</a></li>
	<li><a href="https://github.com/myselfrebel">github.com/myselfrebel</a></li>
      </ul>
    </footer>
  </body>
</html>
